{% extends 'layout.html' %}
{%  block body %}
<script src="https://cdn.ckeditor.com/4.5.11/standard/ckeditor.js"></script>
<body>
<div class="blog mdl-layout mdl-js-layout has-drawer is-upgraded layout-transparent mdl-layout mdl-js-layout ">
    <header class="mdl-layout__header mdl-layout__header--transparent">
        <div class="mdl-layout__header-row ">
            <!-- Title -->
            <span class="mdl-layout-title">Welcome</span>
            <!-- Add spacer, to align navigation to the right -->
            <div class="mdl-layout-spacer"></div>
            <!-- Navigation -->
            <nav class="mdl-navigation">
                <a class="mdl-navigation__link" href="">help</a>
                <a class="mdl-navigation__link" href="">about</a>
            </nav>
        </div>
    </header>
    <main class="mdl-layout__content">
        <div class="blog__posts mdl-grid">
            <div class="mdl-card something-else mdl-cell mdl-cell--8-col mdl-cell--8-col-desktop">
{#                <div class="mdl-card__supporting-text meta meta--fill mdl-color--white mdl-color-text--grey-600">#}
{#                    <input id="title" placeholder="type a title"/>#}
{#                </div>#}
                <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label" style="margin: 16px;width: auto">
                    <input class="mdl-textfield__input" type="text" id="title">
                    <label class="mdl-textfield__label" for="title">Title...</label>
                </div>
                <div class="mdl-textfield mdl-js-textfield" style="margin: 16px;width: 30%">
                    <input class="mdl-textfield__input" type="text" id="tag">
                    <label class="mdl-textfield__label" for="tag">Tag...</label>
                </div>
            </div>
            <div class="mdl-card something-else mdl-cell mdl-cell--4-col mdl-cell--4-col-desktop">
                <div class="mdl-card__media mdl-color--white mdl-color-text--grey-600">
{#                    <img src="/avatar" />#}
                </div>
            </div>
            <div class="mdl-card something-else mdl-cell mdl-cell--12-col mdl-cell--12-col-desktop">
                <form method="post">
                    <div class="mdl-card__supporting-text mdl-color--white mdl-color-text--grey-600">
                        {{ form.editor(class='ckeditor') }}
                        <script type="text/javascript">
                            CKEDITOR.replace("editor", {
                                width : '100%',
                                height : '600px',
                                filebrowserUploadUrl: '/admin/theworld/ckupload/',
                                filebrowserImageUploadUrl: '/admin/theworld/ckupload/'
                            });
                        </script>
                    </div>
                    <div class="mdl-card__supporting-text meta meta--fill mdl-color-text--grey-600">
                        Have you seen Tiamat's comet.
                        {{ form.done(class="mdl-button mdl-js-button mdl-js-ripple-effect") }}
                    </div>
                </form>
            </div>
        </div>
    </main>
    <div class="mdl-layout__obfuscator"></div>
</div>
</body>
{% endblock %}